@using WebAppHealth.Models
@model List<BreadcrumbItem>

<header class="page-header">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb" style="flex-wrap: nowrap;">
            <li class="breadcrumb-item flex-shrink-0">
                <a href="@Url.Action("Index", "Home")">
                    <i class="material-icons">home</i>
                </a>
            </li>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (!string.IsNullOrEmpty(item.Url))
                    {
                        <li class="breadcrumb-item flex-shrink-0">
                            <a href="@item.Url" class="text-decoration-none">@item.Title</a>
                        </li>
                    }
                    else
                    {
                        <li class="breadcrumb-item active text-truncate text-decoration-none" style="min-width: 0" aria-current="page">
                            <span title="@item.Title">@item.Title</span>
                        </li>
                    }
                }
            }
        </ol>
    </nav>
</header>