@{
    ViewBag.Title = "Cổng Dịch Vụ";
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}

<div class="row g-4 g-lg-5">
    <div class="col-lg-3 col-md-6 col-6">
        <a href="@Url.Action("RegisterStandardExam", "ServicePortal")" class="portal-card">
            <div class="portal-card-img-wrapper">
                <img src="~/asset/bacsi_08.jpg" alt="ĐĂNG KÝ KHÁM THƯỜNG" />
            </div>
            <h5>ĐĂNG KÝ KHÁM THƯỜNG</h5>
        </a>
    </div>

    <div class="col-lg-3 col-md-6 col-6">
        <a href="@Url.Action("RegisterServiceExam", "ServicePortal")" class="portal-card">
            <div class="portal-card-img-wrapper">
                <img src="~/asset/bacsi_09.jpg" alt="ĐĂNG KÝ KHÁM DỊCH VỤ" />
            </div>
            <h5>ĐĂNG KÝ KHÁM DỊCH VỤ</h5>
        </a>
    </div>

    <div class="col-lg-3 col-md-6 col-6">
        <a href="@Url.Action("Index", "AppointmentManage")" class="portal-card">
            <div class="portal-card-img-wrapper">
                <img src="~/asset/bacsi_10.jpg" alt="TRA CỨU LỊCH HẸN" />
            </div>
            <h5>TRA CỨU LỊCH HẸN</h5>
        </a>
    </div>

    <div class="col-lg-3 col-md-6 col-6">
        <a href="@Url.Action("LookupExamResults", "ServicePortal")" class="portal-card protected-link">
            <div class="portal-card-img-wrapper">
                <img src="~/asset/bacsi_11.jpg" alt="TRA CỨU HỒ SƠ BỆNH ÁN" />
            </div>
            <h5>HỒ SƠ BỆNH ÁN CỦA TÔI</h5>
        </a>
    </div>

    <div class="col-lg-3 col-md-6 col-6">
        <a href="@Url.Action("LookupInvoice", "ServicePortal")" class="portal-card protected-link">
            <div class="portal-card-img-wrapper">
                <img src="~/asset/bacsi_12.jpg" alt="TRA CỨU HÓA ĐƠN ĐIỆN TỬ" />
            </div>
            <h5>TRA CỨU HÓA ĐƠN ĐIỆN TỬ</h5>
        </a>
    </div>
</div>